
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Добро пожаловать, друзья!
Мы очень рады, что встретились с вами именно здесь. Надеемся, что ваше пребывание на нашем сайте станет продуктивным и интересным. Мы всегда рады ответить на любые ваши вопросы и помочь с выбором среди широчайшего ассортимента, представленного на полках нашего магазина. Бродите, выбирайте, знакомьтесь. А самое главное - играйте с удовольствием!.. Ах, да! С 2017 года вы можете лично посетить нас. Наш небольшой ламповый магазинчик находится прямо в историческом центре Санкт-Петербурга на Литейном проспекте д. 60 (вход под арку)... Ждём вас!

Наши преимущества?
Невероятно уютный ламповый магазин в котором представлен широкий ассортимент настольных игр как на русском языке, так и на языке оригинала;
Доступные цены, программа лояльности для постоянных покупателей и коллективные заказы со скидкой до 30%;
Работаем напрямую со всеми крупнейшими российскими издательствами;
На нашем сайте совершенно никакой регистрации и предоплаты;
Возможность оплаты наличными и банковской картой;
Абсолютно никакой рекламы и надоедливой рассылки;
Всегда вежливые и грамотные сотрудники магазина;
Мы просто невероятно любим настольные игры...

