@{
    ViewBag.Title = "Главная";
}

<h1 class="text-center" style="color: #32A4B8; font-weight: 700">Добро пожаловать, друзья!</h1>
<hr />
<p style="text-indent: 50px">
    Мы очень рады, что встретились с вами именно здесь. Надеемся, что ваше пребывание на нашем сайте станет продуктивным и интересным. Мы всегда рады ответить на любые ваши вопросы и помочь с выбором среди широчайшего ассортимента, представленного на полках нашего магазина. Бродите, выбирайте, знакомьтесь. А самое главное - играйте с удовольствием!.. Ах, да! С 2017 года вы можете лично посетить нас. Наш небольшой ламповый магазинчик находится прямо в историческом центре Санкт-Петербурга на Литейном проспекте д. 60 (вход под арку)... Ждём вас!
</p>
<h4 style="color: #32A4B8; font-weight: 700" class="text-center">Наши преимущества?</h4>
<ul style="list-style-type: none">
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Невероятно уютный ламповый магазин в котором представлен широкий ассортимент настольных игр как на русском языке, так и на языке оригинала;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Доступные цены, программа лояльности для постоянных покупателей и коллективные заказы со скидкой до 30%;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Работаем напрямую со всеми крупнейшими российскими издательствами;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;На нашем сайте совершенно никакой регистрации и предоплаты;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Возможность оплаты наличными и банковской картой;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Абсолютно никакой рекламы и надоедливой рассылки;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Всегда вежливые и грамотные сотрудники магазина;</li>
    <li><img src="~/Content/d12.png" style="width:20px; height: auto" />&nbsp;&nbsp;&nbsp;Мы просто невероятно любим настольные игры...</li>
</ul>
